<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Demo HTTP</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Fullname</th>
					<th>Staff Title</th>
					<th>Sales Org.</th>
					<th>User Role</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<template [ngIf]="users.length > 0">
					<tr *ngFor="let user of users; let i = index">
						<td>{{ i + 1 }}</td>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.fullname }}</td>
						<td>{{ user.stafftitle }}</td>
						<td>{{ user.salesorg }}</td>
						<td>{{ user.userrole }}</td>
						<td>{{ user.status == true ? "Active" : "Pending" }}</td>
						<td>
							<button type="button" class="btn btn-primary" (click)="viewDetail(user.id)">Detail</button>
							<button (click)="editItem(user.id)" type="button" class="btn btn-info">EDIT</button>
							<button (click)="deleteItem(user.id)" type="button" class="btn btn-danger">DELETE</button>
						</td>
					</tr>
				</template>
				<template [ngIf]="users.length == 0">
					<tr>
						<td colspan="4">Updating...</td>
					</tr>
				</template>
				<tr>
					<td colspan="4">
						<div class="btn-group">
							<button (click)="getItems()" type="button" class="btn btn-warning">Get All</button>
							<button (click)="addItem()" type="button" class="btn btn-primary">ADD</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		
	</div>
</div>